.app-container {
  width: 835px;
  height: 200px;
  margin-top: 5px;
  border: solid 4px #c5d845;
  border-radius: 3px;
  background-color: transparent;
  overflow-y: scroll;
}

.app {
  background-color: #000;
  opacity: 0.8;
  min-height: 200px;
  padding:6px;
}

.app-header {
  color: #c5d845;
  font-weight: bold;
}

.app-item {
  color: #c5d845;
  margin: 3px;
}

.app-note {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}